<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>할 일 목록</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/popup.js"></script>
    <script>
        let popupObj = null;

        const viewAdd = () => {
            popupObj = new Popup("create");
            popupObj.open();
            const submit = popupObj.popup.querySelector("#submitBtn");
            submit.onclick = createTodo;
            viewImg()
        }
        const viewImg = () => {
            todoImg.onchange = (e) => {
                const file = new FileReader();
                file.onload = (el) => {
                    insertImg.src = el.target.result;
                }
                file.readAsDataURL(e.target.files[0])
            }
        }
        const createTodo = async () => {
            const { todo, todoImg, comDate } = popupObj.popup.querySelector("form");
            const data = { todo: todo.value, todoImg: todoImg.files[0], comDate: comDate.value === "" ? new Date() : comDate.value }
            const form = new FormData();
            form.append("todo", todo.value);
            form.append("todoImg", todoImg.files[0]);
            form.append("comDate", comDate.value === "" ? new Date() : comDate.value);
            const response = await axios.post("/insert", form, {
                "Content-Type": "multipart/form-data"
            })
            if (response.status == 200) {
                location.reload();
            }
        }
        const updateView = (id, todo, imgsrc, date) => {
            console.log(id);
            const data = { todo, date, imgsrc };
            popupObj = new Popup("update", data);
            popupObj.open();
            submitBtn.onclick = () => { update(id, data) }
            viewImg();
        }
        const update = async (id, data) => {
            const { todo, todoImg, comDate } = popupObj.popup.querySelector("form");
            const form = new FormData();
            form.append("id", id);
            data.todo != todo.value ? form.append("content", todo.value) : '';
            todoImg.files[0] !== undefined ? form.append("img", todoImg.files[0]) : '';
            todoImg.files[0] !== undefined ? form.append("todopreImg", data.imgsrc) : '';
            data.date != comDate.value ? form.append("completeDate", comDate.value) : '';

            const reponse = await axios.put("/update", form, {
                "Content-Type": "multipart/form-data"
            });
            if (reponse.status === 200) {
                localtion.reload();
            }
        }

        const delTodo = async (id, img) => {
            console.log(id, img)
            const data = { id: id, img: img }
            await axios.delete("/delete", { data });
        }

        const onComplete = function (e, strid) {
            const str = document.querySelector(`#${strid}`);
            if (e.checked) {
                str.classList.add("is-complete");
            } else {
                str.classList.remove("is-complete");
            }
        }
        const saveComplete = async function () {
            try {
                const _inputs = document.querySelectorAll("input[type=checkbox]");
                const dataArr = [];
                _inputs.forEach(el => {
                    dataArr.push(new test(el.id, el.checked));
                })
                const response = await axios.put("/completeChage", dataArr);
                console.log(response);
                if (response.status === 200) {
                    location.reload();
                }
            } catch (e) {
                console.error(e);
            }
        }
        function test(id, checked) {
            this.id = id;
            this.checked = checked;
        }

    </script>

</head>

<body>
    <div class="container">
        <div class="TodoList">
            <div class="header">
                <h1>ToDoList</h1>
            </div>
            <div class="content">
                <div class="todo-header">
                    <ul>
                        <li class="todo-complete">
                            <span>완료</span>
                        </li>
                        <li class="todo-content-img">
                            <span>이미지</span>
                        </li>
                        <li class="todo-content">
                            <span>할 일</span>
                        </li>
                        <li class="todo-complete-date">
                            <span>완료일자</span>
                        </li>
                        <li class="todo-btn">
                            비고
                        </li>
                    </ul>
                </div>
                <div class="todo-contents">
                    <%if(data===null){%>
                        <div class="empty-list">할일이 없습니다.</div>
                        <%}else{%>
                            <% data.forEach((item,index)=>{%>
                                <ul>
                                    <li class="todo-complete">
                                        <input type="checkbox" id="<%=item.id%>"
                                            onchange="onComplete(this,'content<%=index%>')"
                                            <%=item.complete?'checked':''%>>
                                    </li>

                                    <li class="todo-content-img">
                                        <img src="<%=item.img%>">
                                    </li>

                                    <li class="todo-content">
                                        <span id="content<%=index%>">
                                            <%=item.content%>
                                        </span>
                                    </li>
                                    <li class="todo-tcomplete-date">
                                        <%=item.completeDate%>
                                    </li>
                                    <li class="todo-btn">
                                        <button
                                            onclick="updateView(<%=item.id%>, '<%=item.content%>','<%=item.img%>','<%=item.completeDate%>')">수정</button>
                                        <button onclick="delTodo(<%=item.id%>,'<%=item.img%>')">삭제</button>
                                    </li>
                                </ul>
                                <%})%>

                                    <%}%>
                </div>
                <div class="todo_tbn">
                    <button onclick="saveComplete()">저장</button>
                    <button onclick="viewAdd()">추가</button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>